<!DOCTYPE html>
<html>
    <head>
        <title>CIL-assistant</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link href="css/site.css" rel="stylesheet">
        <link href="css/fonts.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
        <script src="js/spin.min.js"></script>
        <script src="js/angular-spinner.min.js"></script>
        <script src='js/whoishere.js'></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CIL-Assistant</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                        <li><a href="toilets.html">Toilets</a></li>
                        <li class="active"><a href="whoishere.html">Who-Is-Here<span class="sr-only">(current)</span></a></li>
                        <li><a href="breakfast.html">Breakfast</a></li>
                        <li><a href="cecilia.html">CeCILia</a></li>
                        <li><a href="rotator.html">Site-Rotator</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" ng-app="whoIsHere" ng-controller="mainController">
            <div class="page-header text-center">
                <h1>CIL-Team</h1>
                <p>
                    <span us-spinner ng-show="loading" align='center'></span>
                </p>
            </div>
            <div class="row team">
                <!-- <div class=""> -->
                <div class="col-xs-4 text-center btn" ng-class="getDiff(member)" ng-repeat="member in teammembers" ng-click="queryMember(member)">
                    <input type="button" id="{{member.name}}-{{$index}}" ng-hide="true">
                    <label for="{{member.name}}-{{$index}}">{{member.name}}
                        <br>
                        <span am-time-ago="member.seen" ></span>
                    </label>
                </div>
                <!-- </div> -->
            </div>
            
            <p class='text-left'>
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" ng-click="queryTeam()" ng-disabled="loading" class="btn btn-sm btn-primary">
                    <i class="glyphicon glyphicon-refresh"></i> Query whole team
                    </button>
                    <button type="button" ng-click="getTeam()" ng-disabled="loading" class="btn btn-sm btn-info">
                    <i class="glyphicon glyphicon-search"></i> Check for new members
                    </button>
                    <button type="button" ng-click="addNewMember()" ng-disabled="loading" class="btn btn-sm btn-success">
                    <i class="glyphicon glyphicon-plus"></i> Add new member
                    </button>
                </div>
            </p>
            <script type="text/ng-template" id="newMember.html">
            <div class="modal-header">
                <h1 class="modal-title">Add new member</h1>
            </div>
            <div class="modal-body row">
                <h3 align='center' ng-hide="loading">Visible Bluetooth devices:</h3>
                <h4 align='center' ng-show="error">There was an error, please scan again</h4>
                <h4 align='center' ng-show="nodevice">No device found, please set it to discoverable</h4>
                <p>
                    <span us-spinner ng-show="loading" align='center'></span>
                </p>
                <table class="table table-striped">
                    <tbody ng-repeat="device in results">
                        <tr>
                            <td>
                                {{device.address}}
                            </td>
                            <td>
                                <input type="text" ng-model="device.name" placeholder="Owner name" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="btn-group" role="group" aria-label="">
                    <button class="btn btn-info" ng-click="rescan()" ng-disabled="loading">
                    <i class="glyphicon glyphicon-refresh"></i> Re-scan</button>
                    <button class="btn btn-primary" ng-click="ok()" ng-disabled="loading">
                    <i class="glyphicon glyphicon-ok"></i> OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">
                    <i class="glyphicon glyphicon-remove"></i> Cancel</button>
                </div>
            </div>
            </script>
        </div>
        <footer>
            <p> Page hits:
                <script type="text/javascript" src="http://136.225.5.101/counter.php?page=hits"></script>
            </p>
            <p>&copy; CIL 2015</p>
        </footer>
    </body>
</html>
