<div ng-controller="WhoIsHereCtrl" class="container">
    <div class="page-header text-center">
        <h1>CIL-Team</h1>
        <p>
            <span us-spinner ng-show="loading" align='center'></span>
        </p>
    </div>
    <div class="row team">
        <div class="col-xs-4 text-center btn" ng-class="getDiff(member)" ng-repeat="member in teammembers" ng-click="queryMember(member)">
            <input type="button" id="{{member.name}}-{{$index}}" ng-hide="true">
            <label for="{{member.name}}-{{$index}}">{{member.name}}
                <br>
                <span am-time-ago="member.seen" ></span>
            </label>
        </div>
    </div>
    
    <p class='text-left'>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" ng-click="queryTeam()" ng-disabled="loading" class="btn btn-sm btn-primary">
            <i class="glyphicon glyphicon-refresh"></i> Query whole team
            </button>
            <button type="button" ng-click="getTeam()" ng-disabled="loading" class="btn btn-sm btn-info">
            <i class="glyphicon glyphicon-search"></i> Check for new members
            </button>
            <button type="button" ng-click="addNewMember()" ng-disabled="loading" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus"></i> Add new member
            </button>
            <button type="button" ng-click="removeMember()" ng-disabled="loading" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-minus"></i> Remove member
            </button>
        </div>
    </p>
    <script type="text/ng-template" id="newMember.html">
    <div class="modal-header">
        <h1 class="modal-title">Add new member</h1>
    </div>
    <div class="modal-body row">
        <h3 align='center' ng-hide="loading">Visible Bluetooth devices:</h3>
        <h4 align='center' ng-show="error">There was an error, please scan again</h4>
        <h4 align='center' ng-show="nodevice">No device found, please set it to discoverable</h4>
        <p>
            <span us-spinner ng-show="loading" align='center'></span>
        </p>
        <table class="table table-striped">
            <tbody ng-repeat="device in results">
                <tr>
                    <td>
                        {{device.address}}
                    </td>
                    <td>
                        <input type="text" ng-model="device.name" placeholder="Owner name" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-info" ng-click="rescan()" ng-disabled="loading">
            <i class="glyphicon glyphicon-refresh"></i> Re-scan</button>
            <button class="btn btn-primary" ng-click="ok()" ng-disabled="loading">
            <i class="glyphicon glyphicon-ok"></i> OK</button>
            <button class="btn btn-warning" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i> Cancel</button>
        </div>
    </div>
    </script>
    <script type="text/ng-template" id="removeMember.html">
    <div class="modal-header">
        <h1 class="modal-title">Remove member</h1>
    </div>
    <div class="modal-body row">
        <table class="table table-striped">
            <tbody ng-repeat="member in teammembers">
                <tr>
                    <td>
                        {{member.name}}:{{member.address}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger"ng-click="removeMember(member)">
                            <i class="glyphicon glyphicon-minus"></i>Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-primary" ng-click="exit()">
            <i class="glyphicon glyphicon-ok"></i> OK</button>
        </div>
    </div>
    </script>
</div>
