<div class="jumbotron">
    <div class="container">
        <h1>Hello, I am CeCILia, the CIL-Assistant!</h1>
        <p>Feel free to explore what I can offer</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        Are you interested in contributing or see how I work?
        <a href="https://github.com/pziegler/raspberrypi" target="_blank" class="btn btn-default btn-sm" role="button">Code Repo</a><p>
        <a href="https://github.com/pziegler/raspberrypi/issues" target="_blank" class="btn btn-info btn-sm" role="button">Report Feedback/Issues</a>
        </div>
        <div class="col-md-4">
        We are always looking for new contributions, ideas and improvements.<p>
        <a href="mailto:patrick.a.ziegler@ericsson.com" target="_blank" class="btn btn-default btn-sm" role="button">MailTo Admin</a>
        </div>
        <div class="col-md-4">
        Who we are and what we do:<p>
        <a href="https://eforge.ericsson.se/sf/wiki/do/viewPage/projects.cil/wiki/HomePage"target="_blank" class="btn btn-default btn-sm" role="button">CIL-Wiki</a>
        </div>
    </div>
    <div class='row'>
    </div>
</div>
